body { background: #000 url('../img/bg-ship.png') no-repeat center center; }
.bship-cell-bonus,
.bship-cell-icon { height: 30px; }
/* ICONS */
.bship-trophy-gold { background: transparent url('../img/icon-trophy-gold.png') no-repeat center center;}
.bship-manche { background: transparent url('../img/icon-manche.png') no-repeat center center;}
.bship-ship { background: transparent url('../img/icon-cargo-ship.png') no-repeat; }
.bship-target { background: transparent url('../img/icon-target.png') no-repeat center center;}
.bship-icon-ship-shot-down { 
    background: transparent url('../img/icon-skull.png') no-repeat center center;
    height: 35px;
}
/* TABLE BATTLE */
.bship-frame .bship-title-frame { 
    text-align: center;
    margin: 5px;
}
.bship-frame .bship-title { 
    font-size: 28px;
    padding: 2px 10px 2px 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}
.bship-offensive { 
    color: #8f0222;
    background-color: #ffff88;
}
.bship-defense { 
    color: #eee;
    background-color: #606c88;
}
.bship-content { margin-top: 60px;}
.bship-table-battle { 
    margin-top: 8px; 
    width: 98%; 
}
.bship-table-battle tbody td { cursor: pointer; }
.bship-table-battle tfoot td { padding-top: 15px; }
.bship-legend { 
    color: #fff;
    cursor: default;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    width: 5%;
}
.bship-pad { padding-right: 15px; }
.bship-cell { 
    border: 1px solid #8B4513;
    width: 42px;
    height: 42px;
    text-align: center;
}
.bship-selected-cell { background-color: #FFC125; }
/* NAVEGATOR */
.navbar-fixed-top .bship-input-center {
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}
.navbar-fixed-top .bship-input-score {
    color: #ff8f00;
    width: 80px;
}
.navbar-fixed-top .bship-input-fire {
    color: #8B1A1A;
    width: 40px;
}
.navbar-fixed-top .bship-input-ships {
    color: #008B45;
    width: 40px;
}
.navbar-fixed-top .bship-input-user {
    font-weight: bold;
    margin: 5px 0;
    width: 140px;
}

.navbar-fixed-top .bship-top-info { float: right; }

.navbar-fixed-top .bship-top-info div.input-prepend {
    clear: both;
    display: inline;
    margin-right: 10px;
}